<form *ngIf="book" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input name="title" matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input name="author" matInput formControlName="author" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ISBN</mat-label>
    <input name="isbn" matInput formControlName="isbn" />
  </mat-form-field>

  <button
    type="submit"
    mat-flat-button
    color="primary"
    data-testid="submit-btn"
  >
    Submit
  </button>

  <button
    *ngIf="book.id"
    type="button"
    mat-flat-button
    color="warn"
    (click)="onDelete()"
    data-testid="delete-btn"
  >
    Delete book
  </button>
</form>
